{% extends 'base.html' %}

{% block head_css %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
{% endblock %}
{% block content %}
<h1 class="page-header">Statistics</h1>
<div class="row">
	<form>
		<div class="col-sm-2 col-md-2 date" id="datepicker1" style="padding-left:0px;">
                  <input type="text" class="form-control" name="from_date" data-date-format="YYYY-MM-DD" value="2016-12-01"> <!-- value="22-01-2016" -->
                  <span class="input-group-addon"><span class="icon-calendar"></span>
                  </span>
                  <script type="text/javascript">
                              $(function () {
                                $('#datepicker1').datetimepicker({
                                  pickTime: false,
                                  useCurrent: false
                                });
                              });
                   </script>
     </div>
	</form>
</div>

{% endblock %}

{% block tail_scripts %}
{{ super() }}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
{% endblock %}
