<!DOCTYPE html>
<html>
<head>
	<title>Depot</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-theme.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/glyphicons-halflings-regular.svg')}}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/glyphicons-halflings-regular.ttf')}}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.css')}}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/iconFont.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/datetimepicker.min.css')}}">

	<style type="text/css">
div.well{
  height: 250px;
} 

.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.Absolute-Center.is-Responsive {
  width: 50%; 
  height: 50%;
  min-width: 200px;
  max-width: 400px;
  padding: 40px;
}

#logo-container{
  margin: auto;
  margin-bottom: 10px;
  width:200px;
  height:30px;
  background-image:url('http://placehold.it/200x30/000000/ffffff/&text=BRAND+LOGO');
}
	</style>
</head>
<body>

{% block head_scripts %}
<script src="{{ url_for('static', filename='js/jquery.js')}}"></script>
<script src="{{ url_for('static', filename='js/initial.js')}}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.js')}}"></script>
{% endblock %}

{% block navbar %}
	<div class="navbar navbar-inverse" role="navigation">
	 <div class="container">
		 <div class="navbar-header">
			 <button type="button" class="navbar-toggle"
			 data-toggle="collapse" data-target=".navbar-collapse">
			 <span class="sr-only">Toggle navigation</span>
			 <span class="icon-bar"></span>
			 <span class="icon-bar"></span>
			 <span class="icon-bar"></span>
			 </button>
		 <a class="navbar-brand" href="/home">DEPOT</a>
		 </div>
		 <div class="navbar-collapse collapse">
		 <ul class="nav navbar-nav pull-right">
		 <li><a href="/home">HOME</i></a></li>
		 <li><a href="/dashboard">DASHBOARD</a></li>
		 <li><a href="/statistics">ANALYTICS</a></li>
		 {% if current_user.is_authenticated() %}
		 <li><a href="{{ url_for('logout') }}">SIGN OUT</a></li>
		 {% else %}
		 <li><a href="{{ url_for('login') }}">SIGN IN</a></li>
		 {% endif %}
		 <!-- <li><a href="/profile"><img data-name="{{ current_user.name }}" class="profile img-rounded"/></a></li> -->
		 </ul>
	 	</div>
	 	</div>
	</div>
{% endblock %}

<div class="container">
		{% for message in get_flashed_messages() %}
		 <div class="alert alert-warning">
		 <button type="button" class="close" data-dismiss="alert">&times;</button>
		 	{{ message }}
		 </div>
	 {% endfor %}

	{% block content %}
	{% endblock %}
</div>

{% block tail_scripts %}
{% endblock %}
</body>
</html>