{% extends 'base.html' %}

{% block content %}
{% if cart %}
<table class="table table-striped">
 <thead>
 <tr>
 <th>Product name</th>
 <th></th>
 <th>Quantity(Litres)</th>
 <th>Unit Price</th>
 </tr>
 </thead>
 <tbody>
 {% for key, product in cart.items() %}
 <tr>
 <td>{{ product['name'] }}</td>
 <td><a href="#"><button type="button">&times;</button></a></td>
 <td>{{ product['qty'] }}</td>
 <td>{{ product['price'] }}</td>
 </tr>
 {% endfor %}
 <tr>
 <th>Total Price</th>
 <th></th>
 <td></td>
 <td>{{ total_price }}</td>
 </tr>
 </tbody>
</table>
<a href="#"><button type="submit" class="btn btn-success">Checkout</button></a> <a href="{{ url_for('home')}}"><button type="submit" class="btn btn-primary">Back to home</button></a>
{% else %}
<p>Cart is empty. Add something!</p>
{% endif %}
{% endblock %}