{% extends 'base.html' %}
{% block navbar %}
{% endblock %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="Absolute-Center is-Responsive">
      <div id="logo-container"></div>
      <div class="col-sm-12 col-md-10 col-md-offset-1">
        <form action="/login" id="loginForm" method="POST">
          <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input class="form-control" type="text" name='email' placeholder="Email"/>          
          </div>
          <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input class="form-control" type="password" name='password' placeholder="Password"/>     
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox"> Remember me</a>
            </label>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Login</button>
          </div>
          <div class="form-group text-center">
            <a href="#">Forgot Password</a>&nbsp;|&nbsp;<a href="{{ url_for('register')}}">Sign Up</a>
          </div>
        </form>        
      </div>  
    </div>    
  </div>
</div>

{% endblock %}




