{% extends 'base.html' %}

{% block content %}
<table class="table table-striped">
 <thead>
 <tr>
 <th>Product name</th>
 <th>Unit Price(per Litre)</th>
 </tr>
 </thead>
 <tbody>
 {% for product in products %}
 <tr>
 <td><a href="{{ url_for('add_cart', id=product.product_id) }}">{{ product.description }}</a></td>
 <td>{{ product.price }}</td>
 </tr>
 {% endfor %}
 </tbody>
</table>
{% endblock %}